!!!
// todo Оптимизация времени загрузки
%html
	%head
		= stylesheet_link_tag "list.css"
	%body
		%script#item-tpl(type="text/html")
			.item
				.header
					.cover
						%img(src="images/big.png")
						.shadow

					.info
						.title
							<%= artist %>
							&nbsp;&mdash;&nbsp;
							<%= title %>

						.item-buttons
							.playB
							// .albumCont

					.top-buttons
						%img.item-likeB(src="images/like_pre.png")
						%img.item-deleteB(src="images/sim_delete.png"  style="margin-left: 7px; display:none;")

				.delim
					%span.phrase

				.simCont
				.footer
					Ещё


		%script#item-info-tpl(type="text/html")
			.albumCont
				<% if (album) { %>
				%span.album
					%span.albumTitle Альбом:&nbsp;
					<%= album %>
				<% } %>

				<% if (tags) { %>
				%span.tags
					%span.tagsTitle Жанры:&nbsp;
					<%= tags.join(', ') %>
				<% } %>


		%script#item-sim-tpl(type="text/html")
			.sim-item
				<img class="SmallImg" src="<%= image || 'http://placekitten.com/g/64/64' %>" />

				.info
					.title
						%span.sim-artist
							<%= artist %>
						%span.sim-title
							<%= title %>

					.buttons
						%img(src="images/sim_play.png" class="SimPlayB")
						%img(src="images/sim_add_pre.png" class="SimAddB" style="margin-left: 7px;")
						%img(src="images/like_pre.png" class="SimLikeB" style="margin-left: 7px;")


		//
		#listCont


		// foolproof
		= javascript_include_tag "http://vk.com/js/api/xd_connection.js"
		= javascript_include_tag "lib/jquery-1.7.2.js"
		= javascript_include_tag "lib/underscore.js"
		= javascript_include_tag "lib/backbone.js"

		= javascript_include_tag "lastfm.js"
		= javascript_include_tag "utils.js"
		= javascript_include_tag "datafilter.js"
		= javascript_include_tag "proxy.js"

		= javascript_include_tag "views/appView.js"
		= javascript_include_tag "views/itemView.js"
		= javascript_include_tag "views/simView.js"

		= javascript_include_tag "models/itemModel.js"
		= javascript_include_tag "models/simModel.js"

		= javascript_include_tag "collections/itemCollection.js"
		= javascript_include_tag "collections/simCollection.js"

		= javascript_include_tag "app.js"

